# .vscode
.vscode

# node_modules
/PicsArt-SDK-Core-JS/node_modules

# dist
/PicsArt-SDK-Core-JS/dist

# temp ignore
/PicsArt-SDK-React-TypeScript
# /PicsArt-SDK-React
# /PicsArt-SDK-Core-JS/src/RemoveBg
